# Database files
*.sqlite3

# Secrets and environment variables
.env
config/settings/local.py
config/settings/*.local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Files
*.env
*.env.example
*.env.local
*.env.staging